<div class="row">

    <!-- <div class="row">
        <div class="col-12 col-md-1">Referencia</div>
        <div class="col-12 col-md-7">Descripción</div>
        <div class="col-12 col-md-1">Precio(coste)</div>
        <div class="col-12 col-md-1">Precio(venta)</div>
        <div class="col-12 col-md-1">IVA</div>
        <div class="col-12 col-md-1">Margen</div>
    </div>
    @for (producto of updates || []; track producto.New.id) {
    <div class="row">
        <div class="col-12 col-md-1" [class]="!producto.Old?'text-danger':''">
            {{producto.New.Referencia}}
        </div>
        <div class="col-12 col-md-7">
            <p [class]="producto.New.Descripcion!=producto.Old?.Descripcion?'text-danger':''">
                {{producto.New.Descripcion}}
            </p>
            @if(producto.New.Descripcion!=producto.Old?.Descripcion){
            <p style="text-decoration: line-through;">
                {{producto.Old?.Descripcion}}
            </p>
            }
        </div>
        <div class="col-12 col-md-1">
            {{producto.New.PrecioCoste}}
            @if(producto.New.PrecioCoste!=producto.Old?.PrecioCoste){
            <p style="text-decoration: line-through;">
                {{producto.Old?.PrecioCoste}}
            </p>
            }
        </div>
        <div class="col-12 col-md-1">
            {{producto.New.PrecioVenta}}
        </div>
        <div class="col-12 col-md-1">
            {{producto.New.IVA}}
        </div>
        <div class="col-12 col-md-1">
            {{producto.New.Margen.toFixed(2)}}
        </div>
    </div>
    } -->
    @for (producto of updates || []; track producto.New.id) {
    <div class="col-12 col-md-6">
        <table class="table table-stripped tabl-bordered">
            <thead>
                <th>
                </th>
                <th>
                    Anterior
                </th>
                <th>
                    Nuevo
                </th>
            </thead>
            <tbody>
                <tr>
                    <th class="text-left">Referencia</th>
                    <td class="text-left">
                        {{producto.Old?.Referencia}}
                    </td>
                    <td class="text-left" [class]="!producto.Old?'text-danger':''">
                        <span *ngIf="producto.New.Referencia!=producto.Old?.Referencia">
                            {{producto.New.Referencia}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <th class="text-left">Descripción</th>
                    <td class="text-left"
                        [class]="producto.New.Descripcion!=producto.Old?.Descripcion?'text-danger':''">
                        {{producto.Old?.Descripcion}}
                    </td>
                    <td class="text-left">
                        <span *ngIf="producto.New.Descripcion!=producto.Old?.Descripcion">
                            {{producto.New.Descripcion}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <th class="text-left">Precio (coste)</th>
                    <td>
                        {{producto.Old?.PrecioCoste}}
                    </td>
                    <td>
                        <span *ngIf="producto.New.PrecioCoste>(producto.Old?.PrecioCoste || 0)">
                            {{producto.New.PrecioCoste}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <th class="text-left">Precio (venta)</th>
                    <td [class]="producto.Old && producto.New.PrecioVenta>producto.Old.PrecioVenta?'text-danger':''">
                        {{producto.Old?.PrecioVenta}}
                    </td>
                    <td>
                        <span *ngIf="producto.New.PrecioVenta>(producto.Old?.PrecioVenta||0)">
                            {{producto.New.PrecioVenta}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <th>IVA</th>
                    <td [class]="producto.Old && producto.New.IVA>producto.Old.IVA?'text-danger':''">
                        {{producto.Old?.IVA}}
                    </td>
                    <td>
                        <span *ngIf="producto.New.IVA>(producto.Old?.IVA||0)">
                            {{producto.New.IVA}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <th>Margen</th>
                    <td [class]="producto.Old && producto.New.Margen!=producto.Old.Margen?'text-danger':''">
                        {{producto.Old?.Margen?.toFixed(2)}}
                    </td>
                    <td>
                        <span *ngIf="producto.New.Margen!=producto.Old?.Margen">
                            {{producto.New.Margen.toFixed(2)}}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    }
</div>