<div class="row">
    @for (producto of updates || []; track producto.New.id) {
    <div class="col-xl-4 col-md-6">
        <table class="table table-stripped tabl-bordered">
            <tbody>
                <tr>
                    <input type="checkbox" class="form-check-input" [(ngModel)]="producto.Active"  />
                </tr>
                <tr>
                    <th class="text-left">Referencia</th>
                    <td class="text-left">
                        {{producto.New.Referencia}}
                        @if(!producto.Old){
                        <span class="badge bg-primary">N</span>
                        }
                    </td>
                </tr>
                <tr>
                    <th class="text-left">Descripción</th>
                    <td class="text-left">
                        <input type="text" class="form-control" [(ngModel)]="producto.New.Descripcion">
                        <span class="text-decoration-line-through"
                            *ngIf="producto.New.Descripcion!=producto.Old?.Descripcion">
                            {{producto.Old?.Descripcion}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <th class="text-left">Precio (coste)</th>
                    <td>
                        <input type="number" class="form-control" [(ngModel)]="producto.New.PrecioCoste">
                        <span class="text-decoration-line-through"
                            *ngIf="producto.New.PrecioCoste!=(producto.Old?.PrecioCoste || 0)">
                            {{producto.Old?.PrecioCoste}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <th class="text-left">Precio (venta)</th>
                    <td>
                        {{producto.New.PrecioVenta.toFixed(2)}}
                        <span class="text-decoration-line-through"
                            *ngIf="producto.New.PrecioVenta!=(producto.Old?.PrecioVenta||0)">
                            {{producto.Old?.PrecioVenta}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <th>IVA</th>
                    <td>
                        <input type="number" class="form-control" [(ngModel)]="producto.New.IVA">
                        <span class="text-decoration-line-through" *ngIf="producto.New.IVA!=(producto.Old?.IVA||0)">
                            {{producto.Old?.IVA}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <th>Margen</th>
                    <td>
                        
                            <input
                            type="number"
                            class="form-control"
                            [(ngModel)]="producto.New.Margen"
                            step="0.01"
                            [ngModelOptions]="{ updateOn: 'blur' }"
                            (blur)="producto.New.Margen = +producto.New.Margen.toFixed(2)" />

                        <span class="text-decoration-line-through" *ngIf="producto.New.Margen!=producto.Old?.Margen">
                            {{producto.Old?.Margen?.toFixed(2)}}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    }
</div>
@if(updates.length==0){
No hay cambios para consolidar en Odoo
}