
<ol>
    <li>
        Ve a catalogo de productos y ponlo en modo lista
        <div>
            <img src="images/catalog-canvan.jpg" height="250">
        </div>
    </li>
    <li>
        Pulsa el check a la izquierda para seleccionar todos los artículos (1) y a continuación en seleccionar todo
        <div>
            <img src="images/catalog-select.jpg" height="250">
            <img src="images/catalog-select-all.jpg" height="250">
        </div>
    </li>
    <li>
        Pulsa en acciones y a continuación exportar
        <div>
            <img src="images/catalog-export.jpg" height="250">
        </div>
    </li>
    <li>
        En el menú exportar marca el check Quiero actualizar los datos , Formato de exportación CSV y seleccionar en plantilla catalogo20250918. Después pulsa descargar.
        <div>
            <img src="images/catalog-export-2.jpg" height="250">
        </div>
    </li>
    <li>
        <div class="form-group">
            <label>Sube el catálogo que has descargado y pasa al siguiente paso</label>
            <input class="d-block" type="file" id="fuCatalog" accept=".csv" (change)="upload($event)" />
        </div>
    </li>
</ol>

<div id="catalogo">
    <table class="table table-stripped">
        <thead>
            <tr>
                <th class="text-left">Descripción</th>
                <th class="text-left">Referencia</th>s
                <th class="text-right">Precio (coste)</th>
                <th class="text-right">Precio (venta)</th>
                <th class="text-right">IVA</th>
            </tr>
        </thead>
        <tbody>
            @for (producto of this.catalogo.Productos.slice(0,50); track producto.id) {
            <tr>
                <td class="text-left">
                    {{producto.Descripcion}}
                </td>
                <td class="text-left">
                    {{producto.Referencia}}
                </td>
                <td class="text-right">
                    {{producto.PrecioCoste}}
                </td>
                <td class="text-right">
                    {{producto.PrecioVenta}}
                </td>
                <td class="text-right">
                    {{producto.IVA}}
                </td>
                <td class="text-right">
                    {{producto.Margen.toFixed(2)}}
                </td>
            </tr>

            }
        </tbody>
    </table>
</div>