<ol>
    <li>
        <div class="form-group">
            <label>Sube el catálogo que has descargado y pasa al siguiente paso</label>
            <input class="d-block" type="file" id="fuCatalog" accept=".csv" (change)="upload($event)" />
        </div>
    </li>
</ol>
@if(catalogo.Size>0){
<div id="catalogo">
    <p-table #tCatalogo [value]="this.catalogo.Productos" [paginator]="true" [rows]="10"
        [tableStyle]="{ 'min-width': '50rem' }" [globalFilterFields]="['Descripcion']" stripedRows>
        <!-- <ng-template #caption>
        <div class="flex">
            <p-iconfield iconPosition="left" class="ml-auto">
                <p-inputicon>
                    <i class="pi pi-search"></i>
                </p-inputicon>
                <input pInputText type="text" 
                    (input)="tCatalogo.filterGlobal($event.target.value, 'contains')" 
                    placeholder="Search keyword" />
            </p-iconfield>
        </div>
    </ng-template> -->
        <ng-template #header>
            <tr>
                <th class="text-left">Descripción</th>
                <th class="text-left">Referencia</th>
                <th class="text-right">Precio (coste)</th>
                <th class="text-right">Precio (venta)</th>
                <th class="text-right">IVA</th>
                <th class="text-right">Margen</th>
            </tr>
        </ng-template>
        <ng-template #body let-producto>
            <tr>
                <td class="text-left">
                    {{producto.Descripcion}}
                </td>
                <td class="text-left">
                    {{producto.Referencia}}
                </td>
                <td class="text-right">
                    {{producto.PrecioCoste}}
                </td>
                <td class="text-right">
                    {{producto.PrecioVenta}}
                </td>
                <td class="text-right">
                    {{producto.IVA}}
                </td>
                <td class="text-right">
                    {{producto.Margen.toFixed(2)}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
}