<div class="container">
    <div id="loader" class="loader"></div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-toggle="tab" data-target="#tabCatalogo" type="button"
                role="tab" aria-controls="home" aria-selected="true">Catálogo</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="invoice-tab" data-toggle="tab" data-target="#invoice" type="button" role="tab"
                aria-controls="invoice" aria-selected="false">Factura</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="updates-tab" data-toggle="tab" data-target="#updates" type="button" role="tab"
                aria-controls="contact" aria-selected="false">Cambios</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="consolidate-tab" data-toggle="tab" data-target="#consolidate" type="button"
                role="tab" aria-controls="consolidate" aria-selected="false">Consolidar</button>
        </li>

    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="tabCatalogo" role="tabpanel" aria-labelledby="home-tab">
            <app-catalogo (uploaded)="onCatalogUploaded($event)"></app-catalogo>
        </div>
        <div class="tab-pane fade" id="invoice" role="tabpanel" aria-labelledby="invoice-tab">
            <app-factura (uploaded)="onInvoiceUploaded($event)"></app-factura>
        </div>
        <div class="tab-pane fade" id="updates" role="tabpanel" aria-labelledby="updates-tab">
            <table class="table table-stripped">
                <thead>
                    <tr>
                        <th class="text-left">Referencia</th>
                        <th class="text-left">Descripción</th>
                        <th class="text-right">Precio (coste)</th>
                        <th class="text-right">Precio (venta)</th>
                        <th class="text-right">IVA</th>
                    </tr>
                </thead>
                <tbody>
                    @for (producto of this.updates; track producto.New.id) {
                    <tr>
                        <td class="text-left"
                            [class]="producto.Old && producto.New.Descripcion!=producto.Old.Descripcion?'text-danger':''">
                            {{producto.New.Descripcion}}
                        </td>
                        <td class="text-left" [class]="!producto.Old?'text-danger':''">
                            {{producto.New.Referencia}}
                        </td>
                        <td class="text-right"
                            [class]="producto.Old && producto.New.PrecioCoste>producto.Old.PrecioCoste?'text-danger':''">
                            {{producto.New.PrecioCoste}}
                        </td>
                        <td class="text-right"
                            [class]="producto.Old && producto.New.PrecioVenta>producto.Old.PrecioVenta?'text-danger':''">
                            {{producto.New.PrecioVenta}}
                        </td>
                        <td class="text-right"
                            [class]="producto.Old && producto.New.IVA>producto.Old.IVA?'text-danger':''">
                            {{producto.New.IVA}}
                        </td>
                    </tr>

                    }
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="consolidate" role="tabpanel" aria-labelledby="consolidate-tab">
            <button id="btnDownload" class="btn btn-primary" (click)="consolidateUpdates()">Consolidar
                datos</button>
            <pre id="consolidates"></pre>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/papaparse@5.4.1/papaparse.min.js"></script>