<p-toast [breakpoints]="{ '920px': { width: '50%', right: 'auto' } }"/>
<div class="container-fluid">
    <div id="loader" class="loader"></div>
    <p-tabs [value]="currentTab" scrollable>
        <p-tablist>
            <p-tab value="0">1 - Importar</p-tab>
            <p-tab value="1">2 - Factura</p-tab>
            <p-tab value="2">3 - Cambios</p-tab>
            <p-tab value="3">4 - Consolidar</p-tab>
        </p-tablist>

        <p-tabpanels>
            <p-tabpanel [value]="0">
                <app-catalogo (uploaded)="onCatalogUploaded($event)"></app-catalogo>
            </p-tabpanel>
            <p-tabpanel [value]="1">
                <app-factura (uploaded)="onInvoiceUploaded($event)"></app-factura>
            </p-tabpanel>
            <p-tabpanel [value]="2">
                <app-updater [updates]="updates"></app-updater>
            </p-tabpanel>
            <p-tabpanel [value]="3">
                <app-consolidation [updates]="updates"></app-consolidation>

            </p-tabpanel>
            <p-tabpanel [value]="4">

                <div class="tab-pane fade" id="novedades" role="tabpanel" aria-labelledby="novedades-tab">
                    <app-novedades (uploaded)="procesarNovedades($event)"></app-novedades>
                    @if(this.novedades.length){
                    @for (producto of this.novedades; track producto.id) {
                    <div class="col-sm-4">
                        <div class="card">
                            <img src="data:image/jpeg;base64,{{producto.Imagen}}" height="150">
                            <div class="card-body">
                                <h5 class="card-title">{{producto.Referencia}}</h5>
                            </div>
                        </div>
                    </div>
                    }
                    }
                    @else {
                    No hay novedades
                    }
                </div>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</div>