    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-toggle="tab" data-target="#tabCatalogo" type="button"
                    role="tab" aria-controls="home" aria-selected="true">Catálogo</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="invoice-tab" data-toggle="tab" data-target="#invoice" type="button"
                    role="tab" aria-controls="invoice" aria-selected="false">Factura</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="updates-tab" data-toggle="tab" data-target="#updates" type="button"
                    role="tab" aria-controls="contact" aria-selected="false">Cambios</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="consolidate-tab" data-toggle="tab" data-target="#consolidate" type="button"
                    role="tab" aria-controls="consolidate" aria-selected="false">Consolidar</button>
            </li>

        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tabCatalogo" role="tabpanel" aria-labelledby="home-tab">
                <ol>
                    <li>Exporta tu catálogo de artículos (con el check de importación activado) en formato csv</li>
                    <li>
                        <div class="form-group">
                            <label>Sube tu catálogo CSV y pasa al siguiente paso</label>
                            <input class="d-block" type="file" id="fuCatalog" accept=".csv" (change)="uploadCatalog($event)" />
                        </div>
                    </li>
                </ol>

                <pre id="catalogo"></pre>
            </div>
            <div class="tab-pane fade" id="invoice" role="tabpanel" aria-labelledby="invoice-tab">
                <form class="row">
                    <div class="col-6 form-group">

                        <label>Sube tu factura CSV</label>
                        <input class="d-block" type="file" id="fuInvoice" accept=".csv" (change)="uploadInvoice($event)" />
                        <!-- <textarea id="txtInvoice" class="form-control" rows="10">                            
                        </textarea>
                        <input type="button" id="btnInvoice" onclick="uploadInvoice()" value="Subir"/> -->
                    </div>
                </form>
                <pre id="desglose"></pre>
                <pre id="articles"></pre>
            </div>
            <div class="tab-pane fade" id="updates" role="tabpanel" aria-labelledby="updates-tab">
                <input id="btnUpdates" type="button" value="Cambios" (click)="generateUpdates($event)">
                <pre id="updates"></pre>
            </div>
            <div class="tab-pane fade" id="consolidate" role="tabpanel" aria-labelledby="consolidate-tab">
                <button id="btnDownload" class="btn btn-primary" onclick="Page.consolidateUpdates()">Consolidar datos</button>
                <pre id="consolidates"></pre>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/papaparse@5.4.1/papaparse.min.js"></script>