<!-- Imagen clicable -->
<img [src]="src" [height]="height"  (click)="openModal()" style="cursor: pointer;max-width: 90%;">
<p-dialog header="Edit Profile" [modal]="true" [(visible)]="showModal" [style]="{ width: '25rem' }">
    <span class="p-text-secondary block mb-8">Vista previa</span>
    <div class="flex items-center gap-4 mb-4">
      <img [src]="src" class="img-fluid">
    </div>
    <div class="flex justify-end gap-2">
        <p-button label="Cancel" severity="secondary" (click)="showModal = false" />
        <p-button label="Save" (click)="showModal = false" />
    </div>
</p-dialog>
