<h6>Consolidación de datos</h6>
<ol>
    <li>
        Descarga el fichero con los productos a consolidar (toImport.csv)
        <p>
            <button id="btnDownload" class="btn btn-primary" (click)="download()">Consolidar datos</button>
        </p>
    </li>
    <li>
        Una vez descargado el archivo. Vuelve al catalogo de artículos de odoo.
    </li>
    <li>
        Retira la selección de todos los artículos
    </li>
    <li>
        En Productos (configuración <i class="">gear</i>) pincha en importar registros
    </li>
    <li>
        En Productos (configuración <i class="">gear</i>) pincha en importar registros
    </li>
    <li>
        Pulsa Subir archivo de datos
    </li>
    <li>
        Selecciona el último archivo llamado toImport.csv
    </li>
    <li>
        Pulsa importar para confirmar la subida de los cambios
    </li>
    <li>
        En pantalla aparecen los artículos importados
    </li>
</ol>
                