<h6>Consolidación de datos</h6>
<ol>
    <li>
        Descarga el fichero con los productos a consolidar (toImport.csv)
        <p>
            <button id="btnDownload" class="btn btn-primary" (click)="download()">Consolidar datos</button>
        </p>
    </li>
    <li>
        Una vez descargado el archivo. Vuelve al catalogo de artículos de odoo.
    </li>
    <li>
        Retira la selección de todos los artículos
    </li>
    <li>
        En Productos (configuración <i class="pi pi-cog"></i>) pincha en importar registros
        <div class="row">
            <app-image-link src="images/catalog-import-1.jpg" [height]="250"></app-image-link>
        </div>
    </li>
    <li>
        Pulsa Subir archivo de datos
        <div class="row">
            <app-image-link src="images/catalog-import-2.jpg" [height]="250"></app-image-link>
        </div>
    </li>
    <li>
        Selecciona el último archivo llamado toImport.csv
    </li>
    <li>
        Pulsa importar para confirmar la subida de los cambios
        <div class="row">
            <app-image-link src="images/catalog-import-3.jpg" [height]="250"></app-image-link>
        </div>
    </li>
    <li>
        En pantalla deben aparecer los artículos importados
    </li>
</ol>